@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
:root {
  /* 12px */
  --font-x-12: 0.75rem;
  /* 14px */
  --font-xl-14: 0.875rem;
  /* 15px */
  --font-xxl-15: 0.9375rem;
  /* 16px */
  --font-xxxl-16: 1rem;
  /* 18px */
  --font-xxxxl-18: 1.125rem;
  /* 22px */
  --font-xxxxxl-22: 1.375rem;
  /* 38.4px */
  --font-xxxxxxl-38: 2.4rem;
  /* 54px */
  --font-xxxxxxxl-54: 3.375rem;
  /* 64px */
  --font-xxxxxxxxl-64: 4rem;
  /* 500 */
  --font-weight-x-400: 400;
  /* 500 */
  --font-weight-xl-500: 500;
  /* 600 */
  --font-weight-xxl-600: 600;
  /* 700 */
  --font-weight-xxxl-700: 700;
  --color-1: #191918;
  --color-2: #31302e;
  --color-3: #78736f;
  --color-4: #615d59;
}
li {
  list-style-type: none;
}
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  width: 100%;
  max-height: 66px;
  padding: 15px 16px;
  background-color: white;
}
.header_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo {
  max-height: 30px;
}
.navbar {
  position: absolute;
  top: 64px;
  left: 0;
  z-index: -1;
  display: none;
  width: 100%;
  max-height: calc(100vh - 180px);
  padding: 24px 16px;
  background-color: white;
  overflow-y: scroll;
}
.navbar_lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
  padding-bottom: 12px;
}
.navbar_lists_list {
  width: 100%;
  font-size: var(--font-xxxxxl-22);
  font-weight: var(--font-weight-xxl-600);
  font-style: bold;
  border-radius: 4px;
}
.navbar_lists_list_text_container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar_lists_list_text_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.5px;
}
.navbar_lists_list_text--primary {
  display: none;
}
.navbar_lists_list--request {
  display: none;
}
.header_buttons_container {
  display: flex;
  justify-content: flex-end;
}
.header_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.header_buttons_loginbtn {
  display: none;
  font-size: var(--font-xl-14);
  font-weight: var(--font-weight-xl-500);
  padding: 5px 10px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}
.header_buttons_notionbtn {
  text-align: center;
  min-width: 134px;
  height: 36px;
  border: none;
  border-radius: 0.5rem;
  padding: 4px 16px;
  font-size: var(--font-xl-14);
  font-weight: var(--font-weight-xl-500);
  color: white;
  background-color: #0075de;
  cursor: pointer;
}
.header_buttons_menubtn {
  border: none;
  background-color: transparent;
}
.navbar_ButtonsContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  min-height: 120px;
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar_ButtonsContainer_downloadBtn,
.navbar_ButtonsContainer_loginBtn {
  padding: 4px 14px;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--font-xxxl-16);
  font-weight: var(--font-weight-xl-500);
}
.navbar_ButtonsContainer_loginBtn {
  color: #0075de;
}
.navbar_ButtonsContainer_downloadBtn {
  background-color: #0075de;
  color: white;
}
/* notion lists */
.navbar_lists_Notion_lists {
  display: none;
  margin-top: 24px;
  margin-bottom: 8px;
  background-color: white;
}
.navbar_lists_Notion_lists_container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.navbar_lists_Notion_lists_list_container--primary,
.navbar_lists_Notion_lists_list_container--secondary,
.navbar_lists_Notion_lists_list_container--tertiary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
}
.navbar_lists_Notion_lists_list_container--secondary,
.navbar_lists_Notion_lists_list_container--tertiary {
  margin-top: 12px;
}
.line {
  width: 100%;
  height: 1px;
  margin-top: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar_lists_Notion_lists_list_container_headertext {
  display: none;
}
.navbar_lists_Notion_lists_list-header {
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: var(--font-xxxxl-18);
  font-weight: var(--font-weight-xxl-600);
  color: var(--color-2);
}
.navbar_lists_Notion_lists_list_text {
  font-size: var(--font-x-12);
  font-weight: var(--font-weight-x-400);
  color: var(--color-3);
}
.new {
  padding: 2.5px 7px;
  border-radius: 1000px;
  font-size: var(--font-x-12);
  font-weight: var(--font-weight-x-600);
  color: #005bab;
  background-color: #f2f9ff;
}
.navbar_lists_Notion_lists_list-header--FontSmall {
  font-size: var(--font-xxl-15);
  font-weight: var(--font-weight-xl-500);
}
.navbar_notion_lists_list_headertextcontainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar_lists_Notion_lists_list_container---quinary,
.navbar_lists_Notion_lists_list_download {
  display: none;
}
.navbar_lists_Notion_lists_list_container--quinary_container--primary {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  min-width: 55%;
  border-radius: 5px;
}
.navbar_lists_Notion_lists_list_container---quinary {
  background-color: #f7f7f7;
}
.navbar_lists_Notion_lists_list_container--quinary_text {
  max-width: 240px;
  font-size: var(--font-xxl-15);
  font-weight: 450;
  line-height: 25px;
}
.navbar_lists_Notion_lists_list_container--quinary_downloadBtn {
  font-size: var(--font-xxxl-16);
  font-weight: var(--font-weight-xxl-600);
  border: none;
  width: 90%;
  padding: 0.55rem;
  border-radius: 8px;
  background-color: #0075de;
  color: white;
}
/* more lists */
.navbar_lists_More_lists {
  display: none;
  margin-top: 16px;
  background-color: white;
}
.navbar_lists_More_lists_container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.navbar_lists_More_lists_list_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
.navbar_lists_more_lists_list_container_headertext {
  font-size: var(--font-xxl-15);
  font-weight: var(--font-weight-xl-500);
  color: #a39e98;
}
.navbar_lists_more_lists_list {
  font-size: var(--font-xxxxl-18);
  font-weight: var(--font-weight-xxl-600);
  color: var(--color-2);
}
.navbar_lists_more_lists_list--fontSmall {
  font-size: var(--font-xxl-15) !important;
  font-weight: var(--font-weight-xl-500) !important;
}
.navbar_notion_listscontainer--tertiary_iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar_notion_listscontainer--tertiary_icon {
  max-width: 180px;
  height: 110px;
}

/* hero */
main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 66px;
  padding-inline: round(up, 7.22223%, 0.2rem);
}
.hero {
  display: grid;
  place-items: center;
  padding-bottom: 32px;
}
.hero_header,
.hero_header_container {
  display: grid;
  gap: 16px;
}
.hero_header_Text {
  text-align: center;
  text-wrap: balance;
  max-width: 700px;
  margin-top: -5px;
  font-size: var(--font-xxxxxxl-38);
  font-weight: var(--font-weight-xxl-600);
  letter-spacing: -0.01em;
  line-height: 48px !important;
}
.hero_Content_Text_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_Content_Text {
  text-align: center;
  text-wrap-style: balance;
  max-width: 450px;
  font-weight: var(--font-weight-xl-500);
  line-height: 1.5rem;
}
.hero_buttons_container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}
.hero_video_container {
  grid-row: 1/2;
}
.hero_buttons_Notionbtn,
.hero_buttons_Demobtn {
  min-height: 2.875rem;
  padding: 11px 20px;
  border: 1px solid #0000;
  font-size: var(--font-xxxl-16);
  font-weight: var(--font-weight-xl-500);
  border-radius: 0.5rem;
}
.hero_buttons_Notionbtn {
  color: white;
  background-color: #0075de;
}
.hero_buttons_Demobtn {
  color: #005bab;
  background-color: #f2f9ff;
}
video {
  width: 100%;
  aspect-ratio: 1022 / 540;
}

/* logos */
.teams_section {
  width: 100%;
  max-width: 1252px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.teams_section_header_text {
  text-align: center;
  font-size: var(--font-xl-14);
  font-weight: var(--font-weight-x-400);
  color: #0000008a;
}
.teams_section_logos_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 32px;
  max-width: 360px;
}
.teams_section_logo {
  max-width: 96px;
  height: auto;
}
.teams_section_logo_image {
  object-fit: contain;
  max-height: 24px;
  width: 100%;
  height: auto;
  display: block;
}
.teams_section_logo_image--primary {
  --logo-width: 1129;
  --logo-height: 307;
  --logo-surface-area: 1600;
  max-width: round(
    calc(
      var(--logo-width) *
        calc(
          sqrt(
            var(--logo-surface-area) /
              calc(var(--logo-width) * var(--logo-height))
          )
        ) * 1px
    ),
    1px
  );
  /* height: 307px; */
}
.teams_section_logo_image--secondary {
  --logo-width: 640;
  --logo-height: 178;
  --logo-surface-area: 1600;
  max-width: round(
    calc(
      var(--logo-width) *
        calc(
          sqrt(
            var(--logo-surface-area) /
              calc(var(--logo-width) * var(--logo-height))
          )
        ) * 1px
    ),
    1px
  );
}
.teams_section_logo_image--tertiary {
  --logo-width: 706;
  --logo-height: 56;
  --logo-surface-area: 1600;
  max-width: round(
    calc(
      var(--logo-width) *
        calc(
          sqrt(
            var(--logo-surface-area) /
              calc(var(--logo-width) * var(--logo-height))
          )
        ) * 1px
    ),
    1px
  );
}
.teams_section_logo_image--quaternary {
  --logo-width: 1288;
  --logo-height: 380;
  --logo-surface-area: 1600;
  max-width: round(
    calc(
      var(--logo-width) *
        calc(
          sqrt(
            var(--logo-surface-area) /
              calc(var(--logo-width) * var(--logo-height))
          )
        ) * 1px
    ),
    1px
  );
}
.teams_section_logo_image--quinary {
  --logo-width: 872;
  --logo-height: 186;
  --logo-surface-area: 1600;
  max-width: round(
    calc(
      var(--logo-width) *
        calc(
          sqrt(
            var(--logo-surface-area) /
              calc(var(--logo-width) * var(--logo-height))
          )
        ) * 1px
    ),
    1px
  );
}
.teams_section_logo_image--senary {
  --logo-width: 1312;
  --logo-height: 240;
  --logo-surface-area: 1600;
  max-width: round(
    calc(
      var(--logo-width) *
        calc(
          sqrt(
            var(--logo-surface-area) /
              calc(var(--logo-width) * var(--logo-height))
          )
        ) * 1px
    ),
    1px
  );
}
.teams_section_logo_image--septenary {
  --logo-width: 2560;
  --logo-height: 616;
  --logo-surface-area: 1600;
  max-width: round(
    calc(
      var(--logo-width) *
        calc(
          sqrt(
            var(--logo-surface-area) /
              calc(var(--logo-width) * var(--logo-height))
          )
        ) * 1px
    ),
    1px
  );
}
.teams_section_logo_image--octonary {
  --logo-width: 2048;
  --logo-height: 407;
  --logo-surface-area: 1600;
  max-width: round(
    calc(
      var(--logo-width) *
        calc(
          sqrt(
            var(--logo-surface-area) /
              calc(var(--logo-width) * var(--logo-height))
          )
        ) * 1px
    ),
    1px
  );
}
.teams_section_logo--secondary,
.teams_section_logo--tertiary {
  display: none;
}
@media (min-width: 440px) {
  .hero_buttons_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0.5rem;
    margin-inline: auto;
  }
}
@media (min-width: 600px) {
  main {
    gap: 32px;
  }
  .hero {
    row-gap: 16px;
  }
  .hero_header_Text {
    font-size: var(--font-xxxxxxxl-54);
    font-weight: var(--font-weight-xxl-600);
    line-height: 56px !important;
  }
  .hero_video_container {
    width: 75%;
  }

  .teams_section_logos_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .navbar {
    max-height: calc(100vh - 132px);
  }
  .navbar_ButtonsContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    min-height: 69px;
  }
}
@media (min-width: 840px) {
  .header_buttons_loginbtn {
    display: block;
  }
  .hero_video_container {
    width: 50%;
  }

  .teams_section {
    flex-direction: row;
    justify-content: space-between;
  }
  .teams_section_header_text {
    text-align: left;
    min-width: 20ch;
    letter-spacing: 0.0078125rem;
  }
  .teams_section_logos_container {
    display: contents;
  }
}
@media (min-width: 1080px) {
  .header {
    padding-inline: 25px;
  }
  main {
    padding-inline: round(up, 7.22223%, 0.2rem);
  }
  .hero {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
    max-height: 720px;
    padding-block: 64px;
    padding-inline: 0px;
  }
  .hero_header_Text,
  .hero_Content_Text {
    text-align: start;
  }
  .hero_header_Text {
    width: calc(100% - 12px);
    min-width: 450px;
    letter-spacing: 0;
  }
  .hero_Content_Text_container {
    justify-content: start;
  }
  .hero_video_container {
    grid-column: 2/-1;
    width: 50%;
  }
  .hero_buttons_container {
    margin: 0px;
    margin-right: auto;
  }
  .hero_video_container {
    width: calc(100% + 12px);
    margin-top: -64px;
  }
  .teams_section_logo--secondary {
    display: block;
  }
}
@media screen and (orientation: portrait) and (min-width: 1080px) and (min-height: 720px) {
  .hero {
    max-height: 50vw;
  }
}
@media screen and (min-width: 1080px) and (min-height: 720px) {
  .hero {
    height: calc(100vh - 260px);
    min-height: 400px;
  }
}
@media (min-width: 1280px) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
    padding-block: 64px;
  }
  .hero_header_Text {
    text-wrap: balance;
    font-size: var(--font-xxxxxxxxl-64);
    line-height: 64px !important;
  }
  .hero_Content_Text {
    width: 100%;
    max-width: 100%;
    font-size: var(--font-xxxxxl-22);
    line-height: 28px !important;
  }
  .teams_section_logo--tertiary {
    display: block;
  }
}
@media (min-width: 1280px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero {
    max-width: 1252px;
  }
}

@media (max-width: 1200px) {
  .navbar {
    height: 100vh;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .navbar_list_ButtonsContainer_downloadBtn {
    width: 100% !important;
  }
}
@media (min-width: 1200px) {
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 66px;
    padding-block: 0;
    padding-inline: 25px;
  }
  .header_logo_container {
    justify-content: start;
  }
  .header_buttons_menubtn {
    display: none;
  }
  .header_buttons_loginbtn:hover {
    background-color: #0000000d;
  }
  .header_buttons_notionbtn:hover {
    background-color: #005bab;
  }
  .navbar {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    overflow-y: visible;
  }
  .navbar_lists {
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding-bottom: 0px;
  }
  .line {
    display: none;
  }
  .navbar_ButtonsContainer {
    display: none;
  }
  .navbar_lists_Notion_lists,
  .navbar_lists_More_lists {
    /* display: none; */
    position: absolute;
    top: 1.8rem;
    left: 50%;
    width: 100vw;
    z-index: -1;
    min-height: inherit;
    padding: 24px 97px 32px 87px;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 4px -2px;
  }

  .navbar_lists_Notion_lists_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
  }
  .navbar_lists_Notion_lists_list {
    margin-top: -4px !important;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    /* background-color: #0000000d; */
  }
  .navbar_lists_Notion_lists_list_container--primary,
  .navbar_lists_Notion_lists_list_container--secondary,
  .navbar_lists_Notion_lists_list_container--tertiary {
    display: flex;
    gap: 0px;
  }
  .navbar_lists_Notion_lists_list_container--tertiary {
    margin-top: 0px;
  }
  .navbar_lists_Notion_lists_list_container_headertext {
    display: block;
    padding-left: 8px;
    color: var(--color-4);
  }
  .navbar_lists_Notion_lists_list_download {
    display: block;
    max-width: 314px !important;
  }
  .navbar_lists_Notion_lists_list-header {
    font-size: var(--font-xxxxxl-22);
  }
  .navbar_lists_Notion_lists_list_text {
    padding-bottom: 2px;
  }
  .navbar_lists_Notion_lists_list div {
    margin-top: -2px;
  }
  .navbar_lists_Notion_lists_list:hover {
    background-color: #0000000d;
  }
  .navbar_lists_Notion_lists_list-header--FontSmall {
    font-size: var(--font-xxl-15);
  }
  .navbar_lists_Notion_lists_list_container--secondary {
    margin-top: 17px;
  }
  .navbar_lists_Notion_lists_list:nth-of-type(1) {
    margin-top: 12px !important;
  }
  .navbar_lists_Notion_lists_list_container--tertiary_list:nth-of-type(1) {
    margin-top: 12px;
    /* background-color: #0000000d; */
  }
  .navbar_lists_Notion_lists_list_container---quinary {
    /* display: block; */
    grid-column: 1 / span 2;
    display: flex;
    max-height: 150px;
    margin-top: 32px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(238 238 238);
  }
  .navbar_lists_Notion_lists_list_container--quinary_downloadBtn {
    cursor: pointer;
  }
  .navbar_lists_Notion_lists_list_container--quinary_downloadBtn:hover {
    background-color: #005bab;
  }
  .navbar_lists_list {
    font-size: var(--font-xl-14);
    font-weight: var(--font-weight-xl-500);
    padding: 5px 10px;
    letter-spacing: 0.0078125rem;
    cursor: pointer;
  }
  .navbar_lists_list_text {
    letter-spacing: 0.0078125rem;
  }
  .navbar_lists_list:hover {
    background-color: #0000000d;
  }
  .navbar_lists_list_text--primary,
  .navbar_lists_list--request {
    display: block;
  }
  .navbar_lists_list_text--secondary {
    display: none;
  }
  .navbar_lists_list--request {
    min-width: 132px;
  }
  /* more */
  .navbar_lists_More_lists_container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 32px;
  }
  .navbar_lists_More_lists_list_container {
    gap: 0px;
    margin-top: 8px;
  }
  .navbar_lists_more_lists_list_container_headertext:not(
      .navbar_lists_more_lists_list_container_headertext--smallPadding
    ) {
    font-size: var(--font-xl-14);
    padding-left: 8px;
  }
  .navbar_lists_more_lists_list {
    padding: 8px;
    margin-top: -4px;
    border-radius: 8px;
    font-size: var(--font-xxxxxl-22);
  }
  .navbar_lists_more_lists_list:hover {
    background-color: #0000000d;
  }
  .navbar_lists_more_lists_list:nth-of-type(1) {
    margin-top: 12px;
  }
  .navbar_lists_more_lists_list--smallPadding {
    margin-top: -2px;
    padding: 4px;
  }
  .navbar_lists_more_lists_list_container_headertext--smallPadding {
    padding-left: 2px;
  }
}
@media (min-width: 1400px) {
  .navbar_lists_Notion_lists_container {
    grid-template-columns: repeat(4, 1fr);
  }
  .navbar_lists_Notion_lists_list_container---quinary {
    grid-column: 4/-1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 23px;
    height: 100%;
    max-width: 280px;
    max-height: none;
    margin-top: 0px;
  }
  .navbar_lists_Notion_lists_list_container--quinary_downloadBtn {
    max-width: 139px;
  }
  .navbar_notion_listscontainer--tertiary_icon {
    height: 130px;
  }
}
